ARCHIVOS/RPMForecast/.Rproj.user
ARCHIVOS/RPMForecast/.Rhistory
ARCHIVOS/RPMForecast/.RData
ARCHIVOS/RPMForecast/.Ruserdata
ARCHIVOS/RPMForecast/.Rprofile
ARCHIVOS/RPMForecast/rsconnect/
REPO/RPMForecast/.meta
ARCHIVOS/RPMForecast/salida/
ARCHIVOS/RPMForecast/log